In [1]:
#!jupyter nbextension enable --py --sys-prefix gmaps
#!jupyter nbextension list

In [2]:
import pandas as pd
import gmaps
import requests
import os
from config import g_key

In [3]:
file_to_load = os.path.join('weather_data','cities.csv')
city_data_df = pd.read_csv(file_to_load)
#city_data_df.set_index(['City_ID'], inplace = True)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-11-30 22:59:50,73.5069,80.5464,-14.42,100,100,8.68
1,1,Luanda,AO,2021-11-30 22:59:51,-8.8368,13.2343,78.80,83,20,8.05
2,2,Punta Arenas,CL,2021-11-30 22:59:52,-53.1500,-70.9167,57.31,51,0,21.85
3,3,Hidalgo,MX,2021-11-30 22:59:43,20.5000,-99.0000,64.62,53,4,7.63
4,4,Tiksi,RU,2021-11-30 22:59:52,71.6872,128.8694,-22.59,98,99,6.67

In [4]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     557 non-null    int64
 1   City        557 non-null    object
 2   Country     552 non-null    object
 3   Date        557 non-null    object
 4   Lat         557 non-null    float64
 5   Lng         557 non-null    float64
 6   Max Temp    557 non-null    float64
 7   Humidity    557 non-null    int64
 8   Cloudiness  557 non-null    int64
 9   Wind Speed  557 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 43.6+ KB

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(
    locations, 
    weights=[max(temp, 0) for temp in max_temp],
    dissipating = False,
    max_intensity = 600,
    point_radius = 4
)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights = humidity,
    dissipating = False,
    max_intensity = 300,
    point_radius = 4
)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights = clouds,
    dissipating = False,
    max_intensity = 300,
    point_radius = 4
)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights = wind,
    dissipating = False,
    max_intensity = 300,
    point_radius = 4
)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
preferred_cities_df = city_data_df.loc[
    (city_data_df['Max Temp'] <= max_temp) & \
    (city_data_df['Max Temp'] <= min_temp)
].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2021-11-30 22:59:50,73.5069,80.5464,-14.42,100,100,8.68
2,2,Punta Arenas,CL,2021-11-30 22:59:52,-53.1500,-70.9167,57.31,51,0,21.85
3,3,Hidalgo,MX,2021-11-30 22:59:43,20.5000,-99.0000,64.62,53,4,7.63
4,4,Tiksi,RU,2021-11-30 22:59:52,71.6872,128.8694,-22.59,98,99,6.67
6,6,Mataura,NZ,2021-11-30 22:59:53,-46.1927,168.8643,60.48,69,98,5.97
7,7,Churapcha,RU,2021-11-30 22:59:53,62.0025,132.4325,-12.86,99,100,3.96
8,8,Tuatapere,NZ,2021-11-30 22:59:54,-46.1333,167.6833,60.82,58,61,4.59
9,9,Chokurdakh,RU,2021-11-30 22:59:55,70.6333,147.9167,-13.68,98,100,5.95
10,10,San Patricio,US,2021-11-30 22:59:55,28.0170,-97.5169,74.53,68,89,8.55
11,11,Olafsvik,IS,2021-11-30 22:57:15,64.8945,-23.7142,31.57,59,97,18.92

In [49]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [50]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Dikson      RU    -14.42  73.5069   80.5464
2   Punta Arenas      CL     57.31 -53.1500  -70.9167
3        Hidalgo      MX     64.62  20.5000  -99.0000
4          Tiksi      RU    -22.59  71.6872  128.8694
6        Mataura      NZ     60.48 -46.1927  168.8643
7      Churapcha      RU    -12.86  62.0025  132.4325
8      Tuatapere      NZ     60.82 -46.1333  167.6833
9     Chokurdakh      RU    -13.68  70.6333  147.9167
10  San Patricio      US     74.53  28.0170  -97.5169
11      Olafsvik      IS     31.57  64.8945  -23.7142

In [52]:
# Set parameters to search for a hotel.
params = {
    'radius' : 5000,
    'type' : 'lodging',
    'key' : g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: 'lodging' and our latitude and longitude.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except(IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [53]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dikson,RU,-14.42,73.5069,80.5464,
2,Punta Arenas,CL,57.31,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,Hidalgo,MX,64.62,20.5000,-99.0000,
4,Tiksi,RU,-22.59,71.6872,128.8694,Arktika
6,Mataura,NZ,60.48,-46.1927,168.8643,Ellie's Villa
7,Churapcha,RU,-12.86,62.0025,132.4325,
8,Tuatapere,NZ,60.82,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
9,Chokurdakh,RU,-13.68,70.6333,147.9167,
10,San Patricio,US,74.53,28.0170,-97.5169,"Motel 6 Sinton, TX"
11,Olafsvik,IS,31.57,64.8945,-23.7142,Hotel Olafsvik

In [65]:
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(
locations,
weights = [max(temp, 0) for temp in max_temp],
dissipating = False,
max_intensity = 300,
point_radius = 4
)
info_box_template = '''
<dl>
    <dt><b>Hotel Name</b></dt>
        <dd>{Hotel Name}</dd>
    <dt><b>City</b></dt>
        <dd>{City}</dd>
    <dt><b>Country</b></dt>
        <dd>{Country}</dd>
    <dt><b>Max Temp</b></dt>
        <dd>{Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
'''
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))